html {
    height: 100%;
    scroll-behavior: smooth;
}
body, body>div {
    display: flex;
    min-height: 100%;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
.App {
    display: flex;
    background-color: #FFFFFF;
    z-index: 0;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}

.article-styles h1 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 4rem;
    text-align: center;
}

.article-styles h2 {
    font-size: 24px;
    font-weight: 900;
    margin-top: 4rem;
}

.article-styles p {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.blog-font {
    font-family: "Amiri", serif;
}

body::-webkit-scrollbar {
    width: 10px;
	background-image: linear-gradient(to bottom, black 20%, rgb(87, 111, 116));
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb
{
    background-color: orange;
}

.icon-list-style {
    list-style: none;
    margin: 10px 5vw 10px 0px;
}

.icon-list-style::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.hljs {
    white-space: pre-wrap;
}

.lowlight {
    margin: 0;
}

.calendar-container::before {
    background-image: url(../assets/icons8-calendrier-64.png);
}

.address-container::before {
    background-image: url(../assets/icons8-adresse-64.png);
}

.based-in-container::before {
    background-image: url(../assets/icons8-basedin.png);
}

.phone-container::before {
    background-image: url(../assets/icons8-téléphone.png);
}

.email-container::before {
    background-image: url(../assets/icons8-email.png);
}

.logo-container {
    background-image: url(../assets/logo_small.png);
}

.redirect-container {
    background-image: url(../assets/export.svg);
}

.logo {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-size: contain;
}

.u_paris-logo {
    background-image: url(../assets/u_paris.jpg);
}

.ubo-logo {
    background-image: url(../assets/ubo.jpg);
}

.ubo_band-logo {
    background-image: url(../assets/ubo_band.png);
}

.usthb-logo {
    background-image: url(../assets/usthb.jpg);
}

.stellantis-logo {
    background-image: url(../assets/stellantis.png);
}

.stellantis_band-logo{
    background-image: url(../assets/stellantis_band.png);
}

.litis-logo {
    background-image: url(../assets/litis.png);
}