html {
    height: 100%;
    scroll-behavior: smooth;
}
body, body>div {
    display: flex;
    min-height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.App {
    display: flex;
    flex-direction: column;
    font-family: "Rubik", monospace;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
	background-image: linear-gradient(to bottom, black 20%, rgb(87, 111, 116));
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb
{
    background-color: orange;
}

.icon-list-style {
    list-style: none;
    margin: 10px 5vw 10px 0px;
}

.icon-list-style::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.calendar-container::before {
    background-image: url(../assets/icons8-calendrier-64.png);
}

.address-container::before {
    background-image: url(../assets/icons8-adresse-64.png);
}

.based-in-container::before {
    background-image: url(../assets/icons8-basedin.png);
}

.phone-container::before {
    background-image: url(../assets/icons8-téléphone.png);
}

.email-container::before {
    background-image: url(../assets/icons8-email.png);
}

.logo-container {
    background-image: url(../assets/logo_small.png);
}

.redirect-container {
    background-image: url(../assets/export.svg);
}